* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.forcecast {
    display: grid;
    grid-template-areas:
        "current current current current current current"
        "hourly hourly hourly hourly windy windy"
        "daily daily uv sunrise windy windy"
        "daily daily wind waxing precipitation feels_like"
        "daily daily humidity visibility pressure average";
    grid-template-columns: repeat(6, 150px);
    grid-template-rows: repeat(5, 150px);
    gap: 20px;
    width: fit-content;
    margin-left: auto;
    margin-right: auto;
}

.current {
    grid-area: current;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.current .city {
    font-size: 24px;
    text-transform: uppercase;
}

.current .temp {
    font-size: 60px;
}

.current .status {
    font-size: 18px;
    text-transform: uppercase;
}

.hourly {
    grid-area: hourly;
    background-color: rgba(78, 20, 53, 0.15);
    border-radius: 20px;
    padding: 10px;
}

.hourly .hourly-title {
    display: flex;
    align-items: center;
    gap: 10px;
}

.hourly .weather-icon {
    width: 30px;
}

.hourly-list {
    display: flex;
    flex-wrap: nowrap;
    overflow-x: auto;
}

.hourly-list .hourly-item {
    padding: 20px 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.hourly .hourly-item-icon {
    width: 30px;
}
