* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-color: #121525;
    color: #ffffff;
    font-family: "Poppins", sans-serif;
    font-weight: 300;
    font-size: 16px;
    line-height: 1.4;
}

/* .forcecast {
    display: grid;
    grid-template-areas:
        "current current current current current current"
        "hourly hourly hourly hourly windy windy"
        "daily daily uv wind windy windy"
        "daily daily sunrise sunset precipitation feels_like"
        "daily daily humidity visibility pressure average";
    grid-template-columns: repeat(6, 150px);
    grid-template-rows: repeat(5, 150px);
    gap: 20px;
    width: fit-content;
    margin-left: auto;
    margin-right: auto;
} */

.grid-item {
    background-color: rgba(255, 255, 255, 0.05);
    border-radius: 20px;
    padding: 10px;
}

.current {
    grid-area: current;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.current .city {
    font-size: 24px;
    text-transform: uppercase;
}

.current .temp {
    font-size: 60px;
    position: relative;
}

.current .temp::after {
    content: "°";
    position: absolute;
    right: -24px;
    top: -5px;
}

.current .status {
    font-size: 18px;
    text-transform: uppercase;
}

.hourly {
    grid-area: hourly;
}

.title {
    display: flex;
    align-items: center;
    padding: 0 10px;
    color: #6e5e68;
}

.icon {
    width: 30px;
    height: 30px;
    object-fit: contain;
}

.title .icon {
    margin-bottom: 2px;
}

.hourly-list {
    display: flex;
    flex-wrap: nowrap;
    overflow-x: auto;
    height: 98px;
    overflow: hidden;
}

.hourly-list .hourly-item {
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.hourly .sunrise,
.hourly .sunset {
    padding: 10px 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.windy {
    grid-area: windy;
}

.windy .title .icon,
.uv .title .icon,
.wind-speed .title .icon,
.sunrise .title .icon,
.sunset .title .icon {
    margin-right: 4px;
}

.windy iframe {
    border: 0;
    border-radius: 20px;
}

.uv {
    grid-area: uv;
}

.value {
    font-size: 48px;
    line-height: 1;
}

.value .unit {
    font-size: 16px;
}

.wind-speed {
    grid-area: wind;
}

.sunrise {
    grid-area: sunrise;
}

.sunset {
    grid-area: sunset;
}
